<h3>{{dg.game.title}} <small>{{dg.title}}</small></h3>

<div class="well well-lg">
    <div class="row">
        <div class="col-sm-4"><label>Typ</label></div>
        <div class="col-sm-8">
            {{ (dg.gameTypes | filter: {'value': dg.game.type})[0].name }}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4"><label>Platform</label></div>
        <div class="col-sm-8" >
            <p class="pull-left" ng-repeat="gamePlatform in dg.game.platformId">{{ (dg.platforms | filter: { 'id': gamePlatform })[0].name }}&nbsp</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4"><label>Price</label></div>
        <div class="col-sm-8">$ {{dg.game.price}}</div>
    </div>
    <div class="row">
        <div class="col-sm-4"><label>Description</label></div>
        <div class="col-sm-8">{{dg.game.description}}</div>
    </div>
</div>
</div>