<h3>{{cp.title}} <small>{{cp.platform.name}}</small></h3>
<form name="cp.form">
    <div class="form-group">
        <label>Name</label>
        <input type="text" class="form-control" name="name" ng-model="cp.platform.name" required>
    </div>
    <input type="submit" ng-click="cp.createPlatform(cp.platform)" class="btn btn-success" value="Create">
</form>
