﻿<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List of Games</title>

    <!--CSS-->
    <link href="styles/style.css" rel="stylesheet" />
    <link href="styles/bootstrap.min.css" rel="stylesheet" />

    <!--NODE_MODULES-->
    <script src="node_modules/angular/angular.min.js"></script>
    <script src="node_modules/angular-resource/angular-resource.min.js"></script>
    <script src="node_modules/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="node_modules/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>


    <!--MY SCRIPTS-->
    <script src="js/common/app-resource.js"></script>
    <script src="js/common/app-games-dataservice.js"></script>
    <script src="js/common/app-platform-dataservice.js"></script>
    <script src="js/app.js"></script>
    <script src="js/common/app-routes.js"></script>

    <!--CONTROLLERS-->
    <script src="js/indexCtrl.js"></script>
    <script src="js/partial/create_game/createGameCtrl.js"></script>
    <script src="js/partial/update_game/updateGameCtrl.js"></script>
    <script src="js/partial/details_game/detailsGameCtrl.js"></script>
    <script src="js/partial/list_platform/listPlatformCtrl.js"></script>
    <script src="js/partial/create_platform/createPlatformCtrl.js"></script>
    <script src="js/partial/update_platform/updatePlatformCtrl.js"></script>

</head>

<body ng-app="webapp" ng-controller="IndexCtrl as ic">

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            
            <div class="navbar-header">
                <a class="navbar-brand" href="#/">List of Games</a>
            </div>

            <form class="navbar-form navbar-right">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search" ng-model="searchText">
                </div>
            </form>

            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown" dropdown>
                    <a class="dropdown-toggle" href="#" dropdown-toggle>Game<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#/">List</a></li>
                        <li><a href="#/create">Add</a></li>
                    </ul>
                </li>
                <li class="dropdown" dropdown>
                    <a class="dropdown-toggle" href="#" dropdown-toggle>Platforms<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#/platform">List</a></li>
                        <li><a href="#/platform/create">Add</a></li>
                    </ul>
                </li>
            </ul>
]
        </div>
    </nav>
    <div class="container">
        <div ui-view id="ng-view">
            <h3>Loading app...</h3>
        </div>
    </div>
</body>

</html>