<h3>{{up.title}} <small>{{up.platform.name}}</small></h3>

<form name="up.form">
    <div class="form-group">
        <label>Name</label>
        <input type="text" class="form-control" name="name" ng-model="up.platform.name" required>
    </div>

    <input type="submit" ng-click="up.updatePlatform(up.platform)" class="btn btn-success" value="Update">
</form>