<div>
    <h1>{{ic.title}}</h1>
    <table class="table">
        <thead>
            <tr>
                <td>Title</td>
                <td>Type</td>
                <td>Price</td>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="game in ic.games | filter:searchText">
                <td><a href="#/game/{{game.id}}">{{game.title}}</a></td>
                <td>{{ (ic.gameTypes | filter: {'value': game.type})[0].name }}</td>
                <td>$ {{game.price}}</td>
                <td><button ng-click="ic.deleteGame(game)" class="btn btn-danger">Delete</button></td>
                <td><button ng-click="ic.updateGame(game)" class="btn btn-warning">Update</button></td>
            </tr>
        </tbody>
    </table>
</div>