<h3>{{cg.title}}</h3>
<form name="cg.form">
    <div class="form-group">
        <label>Title</label>
        <input type="text" class="form-control" name="title" ng-model="cg.gameView.title" required>
    </div>

    <div class="form-group">
        <label>Typ</label>
        <select class="form-control" ng-model="cg.gameView.type" ng-options="gameType.value as gameType.name for gameType in cg.gameTypes">
        <option></option>
    </select>
    </div>

    <div class="form-group">
        <label>Platform</label>
        <select class="form-control" multiple ng-model="cg.gameView.platformId" ng-options="platform.id as platform.name for platform in cg.platforms">
        <option></option>
    </select>
    </div>

    <div class="form-group">
        <label>Price</label>
        <div class="input-group">
            <span class="input-group-addon">$</span>
            <input type="number" step="0.01" class="form-control" ng-model="cg.gameView.price">
        </div>
    </div>

    <div class="form-group">
        <label>Description</label>
        <textarea class="form-control" rows="5" ng-model="cg.gameView.description"></textarea>
    </div>

    <input type="submit" ng-click="cg.createGame(cg.gameView)" class="btn btn-success" value="Create">
</form>