<h3>{{ug.title}}</h3>

<form name="ug.form">
    <div class="form-group">
        <label>Title</label>
        <input type="text" class="form-control" name="title" ng-model="ug.game.title" required>
    </div>

    <div class="form-group">
        <label>Typ</label>
        <select class="form-control" ng-model="ug.game.type" ng-options="gameType.value as gameType.name for gameType in ug.gameTypes">
        <option></option>
    </select>
    </div>

    <div class="form-group">
        <label>Platform</label>
        <select class="form-control" multiple ng-model="ug.game.platformId" ng-options="platform.id as platform.name for platform in ug.platforms">
        <option></option>
    </select>
    </div>

    <div class="form-group">
        <label>Price</label>
        <div class="input-group">
            <span class="input-group-addon">$</span>
            <input type="number" step="0.01" class="form-control" ng-model="ug.game.price">
        </div>
    </div>

    <div class="form-group">
        <label>Description</label>
        <textarea class="form-control" rows="5" ng-model="ug.game.description"></textarea>
    </div>


    <button ng-click="ug.updateGame(ug.game)" class="btn btn-success">Update</button>
</form>