<div>
    <h1>{{lp.title}}</h1>
    <table class="table">
        <thead>
            <tr>
                <td>Name</td>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="platform in lp.platforms | filter:searchText">
                <td>{{platform.name}}</td>
                <td><button ng-click="lp.deletePlatform(platform)" class="btn btn-danger">Delete</button></td>
                <td><a href="#/platform/update/{{platform.id}}" class="btn btn-warning">Update</button></td>
            </tr>
        </tbody>
    </table>
</div>